{% extends 'nucircle/navbars/navbar_template.html' %}

{% block navlinks %}
    <li class="nav-item">
        <a class="nav-link" id="login_nav_link" href="#"><i class="fas fa-sign-in-alt"></i><br>Login</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="#" id="signup_nav_link" ><i class="fas fa-user-plus"></i><br>Signup</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" href="#service-section"><i class="fab fa-servicestack"></i><br>Services</a>
    </li> 
{% endblock %} 
