<form method="post" action="{% url 'nucircle:add_skill' %}">
    {% csrf_token %}

    <div class="form-group">
        <label for="title" class="small">Title<span class="text-danger"> *</span></label>
        <input type="text" value="{{title}}" id="title_skl" class="form-control" name="title">
    </div>

    <div class="form-group">
        <label for="description" class="small">Description<span class="text-danger"> *</span></label>
        <textarea class="form-control" rows="5" id="description_skl" name="description">{{description}}</textarea>
    </div>

    <input id="add_skill_submitType" type="hidden" name="submitType" value="submit">
    <button onclick="return validate_add_skill()" type="submit" class="btn btn-primary">Add</button>
    
    {% if error_form == 'add_skill' %}
        <span class="text-danger small ml-5 float-right">{{error}}</span> 
    {% endif %}
</form>