<form method="get" action="{% url 'nucircle:search_results' %}">
    <li class="nav-item">
        <a class="nav-link" href="#">
            <div class="input-group">
                <input type="text" id="navsearch" class="form-control" placeholder="Search User..." name="query_string">
                
      			<div class="input-group-append" id="nav_search_button">
        			<span class="input-group-text color-4 bg-1"><i class="fas fa-search"></i></span>
                </div>	
    		</div>    
        </a>
    </li>
</form>