{% extends 'nucircle/base_template.html' %}

{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'nucircle/CSS/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js"></script>
{% endblock %}


{% block title %}
The Care Unit | Change Password
{% endblock %}


{% block navbar %}
    {% include 'nucircle/navbars/navbar.html' with active="profile" %}
{% endblock %}


{% block bodycontent %}

    {% block content_header %}

    {% endblock %}
    <br><br><br>
    <div class="container">
        
        <h1 class="text-center">Change Password</h1>
        <p>
            Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
        </p>
        {%if form.errors%}
            <div>
                Errors:
                <p style="color: red;">{{form.errors}}</p>
                
            </div>
            
        {%endif%}
        <form style="margin:10px;" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Reset password</button>
        </form>
    </div>

{% endblock  %}

{% block scripts %}
    <script src="{% static 'nucircle/Javascript/navbar.js' %}" ></script>
    <script src="{% static 'nucircle/Javascript/index.js' %}" ></script>

    <script>
        var msg = '{{msg}}';
        if(msg!=''){
            // console.log(msg);
            if(msg.includes('Successfully')){
                swal('Success',msg,'success');
            }
            else{
                swal('Failure',msg,'error');
            }
        }
    </script>

{% endblock %}
