<div class="jumbotron footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center" data-aos="zoom-in-right">
                <h3 class="color-2 mb-4"><strong>About us</strong></h3>
                <p class="white"><strong>The Care Unit</strong> is an online social media platform for the doctors of burns.pk that allows numerous features like newsfeeds, ability to discuss issues using category based forums, a nation wide directory to connect with doctors and much more! </p>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-sm-12">
                <div class="text-center white">© 2019 Copyright:<a href="https://burns.pk"> https://burns.pk</a></div>
            </div>
        </div>
    </div>
</div>
